@import '../../global/styles/mixins';
@import '../../global/styles/vars';

@mixin mobileNav {
    display: block;
    position: fixed;
    right: -100%;
    width: 200px;
    top: 0;
    bottom: 0;
    transition: all .4s;
    overflow-y: scroll;
    z-index: 11;
    ul {
        flex-direction: column;
    }
    ul li {
        flex-direction: column;
        border-top: 1px solid #a5a5a5;
        &:first-of-type {
            border: none;
        }
        a:after {
            color: #fff;
            position: absolute;
            right: 0;
        }
    }
    ul div {
        position: static;
        a {
            font-size: 1.2rem !important;
            padding: 10px 10px 10px 20px;
            border-top: 1px solid #a5a5a5;
            white-space: break-spaces;
        }
    }
    a {
        padding: 10px 5px 10px 10px;
    }
}

.NavCollapse.sm {
    @include breakpoint('sm') {
        @include mobileNav
    }
}
.NavCollapse.md {
    @include breakpoint('md') {
        @include mobileNav
    }
}
.NavCollapse.lg {
    @include breakpoint('lg') {
        @include mobileNav
    }
}
.NavCollapse.xl {
    @include breakpoint('xl') {
        @include mobileNav
    }
}
.NavCollapse.xxl {
    @include breakpoint('xxl') {
        @include mobileNav
    }
}