$globalBp: 768px;

//core
$rm-pink: #e51a90;
$rm-purple: #452765;
$rm-white-lilac: #ece4f3;
$rm-light-grey: #f4f5f9;

//footer & secondary
$rm-grey-black: #1c1c1c;
$rm-mid-grey: #e6e6e6;
$rm-dark-grey: #a5a5a5;

//secondary
$rm-mid-green: #1bbb8f;
$rm-dark-purple: #361753;
$rm-dark-pink: #d21694;
$rm-lilac: #bfacda;
$rm-mid-blue: #25ceed;
$rm-light-blue: #eef9ff;
$rm-light-grey-2: #f8f8f8;
$rm-grey-lilac: #e6e3ec;
$rm-gold: #ffcd1f;
$rm-lilac-2: #9277b7;

//btn gradients
$rm-btn-pink-1: -webkit-linear-gradient(top, #f70e92, #c40069);
$rm-btn-mid-green-1: -webkit-linear-gradient(top, #1ace9b, #17b489);