.rmIcon {
    //background-image: url('../../Images/icon-spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.rmIconSm {
    transform: scale(.5);
}
.rmIconMd {
    transform: scale(.8);
}

.advertising {
    background-position: -5px -5px;
    width: 100px;
    height: 100px;
}

.arrowDown {
    background-position: -115px -5px;
    width: 100px;
    height: 100px;
}

.arrowFwd {
    background-position: -225px -5px;
    width: 100px;
    height: 100px;
}

.bed {
    background-position: -335px -5px;
    width: 100px;
    height: 100px;
}

.beds1 {
    background-position: -445px -5px;
    width: 100px;
    height: 100px;
}

.beds2 {
    background-position: -555px -5px;
    width: 100px;
    height: 100px;
}

.beds3 {
    background-position: -665px -5px;
    width: 100px;
    height: 100px;
}

.beds4 {
    background-position: -775px -5px;
    width: 100px;
    height: 100px;
}

.beds5 {
    background-position: -885px -5px;
    width: 100px;
    height: 100px;
}

.box {
    background-position: -995px -5px;
    width: 100px;
    height: 100px;
}

.buyingv1 {
    background-position: -1105px -5px;
    width: 100px;
    height: 100px;
}

.buyingv2 {
    background-position: -1215px -5px;
    width: 100px;
    height: 100px;
}

.calcv1 {
    background-position: -5px -115px;
    width: 100px;
    height: 100px;
}

.calcv2 {
    background-position: -115px -115px;
    width: 100px;
    height: 100px;
}

.caution {
    background-position: -225px -115px;
    width: 100px;
    height: 100px;
}

.circleInfo {
    background-position: -335px -115px;
    width: 100px;
    height: 100px;
}

.circleTick {
    background-position: -445px -115px;
    width: 100px;
    height: 100px;
}

.cirlceCross {
    background-position: -555px -115px;
    width: 100px;
    height: 100px;
}

.contact {
    background-position: -665px -115px;
    width: 100px;
    height: 100px;
}

.conveyancing {
    background-position: -775px -115px;
    width: 100px;
    height: 100px;
}

.costsAndFees {
    background-position: -885px -115px;
    width: 100px;
    height: 100px;
}

.documentTicked {
    background-position: -995px -115px;
    width: 100px;
    height: 100px;
}

.download {
    background-position: -1105px -115px;
    width: 100px;
    height: 100px;
}

.emailClosed {
    background-position: -1215px -115px;
    width: 100px;
    height: 100px;
}

.emailClosedTick {
    background-position: -5px -225px;
    width: 100px;
    height: 100px;
}

.emailOpen {
    background-position: -115px -225px;
    width: 100px;
    height: 100px;
}

.emailOpenTick {
    background-position: -225px -225px;
    width: 100px;
    height: 100px;
}

.feedback {
    background-position: -335px -225px;
    width: 100px;
    height: 100px;
}

.form {
    background-position: -445px -225px;
    width: 100px;
    height: 100px;
}

.graph {
    background-position: -555px -225px;
    width: 100px;
    height: 100px;
}

.homeReport {
    background-position: -665px -225px;
    width: 100px;
    height: 100px;
}

.house {
    background-position: -775px -225px;
    width: 100px;
    height: 100px;
}

.howWorks {
    background-position: -885px -225px;
    width: 100px;
    height: 100px;
}

.insurance {
    background-position: -995px -225px;
    width: 100px;
    height: 100px;
}

.intRemovalsv1 {
    background-position: -1105px -225px;
    width: 100px;
    height: 100px;
}

.intRemovalsv2 {
    background-position: -1215px -225px;
    width: 100px;
    height: 100px;
}

.intRemovalsv3 {
    background-position: -5px -335px;
    width: 100px;
    height: 100px;
}

.intRemovalsv4 {
    background-position: -115px -335px;
    width: 100px;
    height: 100px;
}

.london {
    background-position: -225px -335px;
    width: 100px;
    height: 100px;
}

.media {
    background-position: -335px -335px;
    width: 100px;
    height: 100px;
}

.mortgages {
    background-position: -445px -335px;
    width: 100px;
    height: 100px;
}

.partners {
    background-position: -555px -335px;
    width: 100px;
    height: 100px;
}

.press {
    background-position: -665px -335px;
    width: 100px;
    height: 100px;
}

.print {
    background-position: -775px -335px;
    width: 100px;
    height: 100px;
}

.processing {
    background-position: -885px -335px;
    width: 100px;
    height: 100px;
}

.purchase {
    background-position: -995px -335px;
    width: 100px;
    height: 100px;
}

.quotes {
    background-position: -1105px -335px;
    width: 100px;
    height: 100px;
}

.remortgagev1 {
    background-position: -1215px -337px;
    width: 100px;
    height: 100px;
}

.remortgagev2 {
    background-position: -5px -445px;
    width: 100px;
    height: 100px;
}

.removals {
    background-position: -115px -445px;
    width: 100px;
    height: 100px;
}

.report {
    background-position: -225px -445px;
    width: 100px;
    height: 100px;
}

.reviewsAndComments {
    background-position: -335px -445px;
    width: 100px;
    height: 100px;
}

.sale {
    background-position: -445px -445px;
    width: 100px;
    height: 100px;
}

.salesAndPurchase {
    background-position: -555px -445px;
    width: 100px;
    height: 100px;
}

.save {
    background-position: -665px -445px;
    width: 100px;
    height: 100px;
}

.scotland {
    background-position: -775px -445px;
    width: 100px;
    height: 100px;
}

.search {
    background-position: -885px -445px;
    width: 100px;
    height: 100px;
}

.socialFacebook {
    background-position: -995px -445px;
    width: 100px;
    height: 100px;
}

.socialGoogle {
    background-position: -1105px -445px;
    width: 100px;
    height: 100px;
}

.socialTwitter {
    background-position: -1215px -445px;
    width: 100px;
    height: 100px;
}

.solicitorsConveyancers {
    background-position: -5px -555px;
    width: 100px;
    height: 100px;
}

.star {
    background-position: -115px -555px;
    width: 100px;
    height: 100px;
}

.statsv1 {
    background-position: -225px -555px;
    width: 100px;
    height: 100px;
}

.statsv2 {
    background-position: -335px -555px;
    width: 100px;
    height: 100px;
}

.storage {
    background-position: -445px -555px;
    width: 100px;
    height: 100px;
}

.suggestions {
    background-position: -555px -555px;
    width: 100px;
    height: 100px;
}

.surveying {
    background-position: -665px -555px;
    width: 100px;
    height: 100px;
}

.tag {
    background-position: -775px -555px;
    width: 100px;
    height: 100px;
}

.team {
    background-position: -885px -555px;
    width: 100px;
    height: 100px;
}

.tick {
    background-position: -995px -555px;
    width: 100px;
    height: 100px;
}

.tradesmen {
    background-position: -1105px -555px;
    width: 100px;
    height: 100px;
}

.van {
    background-position: -1215px -555px;
    width: 100px;
    height: 100px;
}

.web {
    background-position: -1325px -115px;
    width: 100px;
    height: 100px;
}

.beds6plus {
    background-position: -1325px -220px;
    width: 100px;
    height: 100px;
}