.NavDropdown {
    display: flex;
    position: relative;
    cursor: pointer;
    &:nth-of-type(1) .dropdown {
        background-color: aqua;
        left: 100%;
        top: 0;
    }
    a {
        padding: 15px 12px;
        text-decoration: none;
        &:hover {
            + .dropdown {
                display: block;
            }
        } 
    }
}
.dropdown {
    position: absolute;
    top: 54px;
    left: 0;
    white-space: nowrap;
    display: none;
    border: 1px solid #999;
    a {
        display: block;
        width: 100%;
    }
    &:hover {
        display: block;
    }
}