@import '../../global/styles/mixins';
@import '../../global/styles/vars';

.NavToggle {
    display: none;
    color: #fff;
    border: none;
    background: none;
    padding: 0;
    //width: 90px;
    @include breakpoint('md') {
        display: block;
    }
    span {
        pointer-events: none;
    }
}
.NavToggle div {
    //background: #452765;
    border: 1px solid $rm-purple;
    color: $rm-purple;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    padding: 10px 0;
    font-weight: 500;
    pointer-events: none;
}
.NavToggle .iconBar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $rm-purple;
    margin: 3px 10px;
}
.active div {
    background-color: $rm-purple;
    .iconBar {
        background-color: #fff;
    }
}